/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Hitchcut-Regular";
    src: local("Hitchcut-Regular"), url('assets/fonts/Hitchcut-Regular.ttf') format("truetype");
    font-display:swap;
}

html, body {
    height: 100%;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1, h2, h3{
    font-family: "Hitchcut-Regular";
}
