
<body>
    <div class="container">
        <div class="registration-form">
            <h2>Registration</h2>
            <form action="process_registration.php" [formGroup]="logForm" (ngSubmit)="submit(logForm.value)"> <!-- Adjust the action attribute to your server-side processing script -->
                <div class="form-group">
                    <label for="username">Name:</label>
                    <input type="text" id="username" name="username" formControlName="name" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" formControlName="password">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="username">Your phytoplankton's name:</label>
                    <input type="text" id="username" name="username" formControlName="phytoplanktonName" required>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="images">
            <img src="../../../../assets/images/beforeBorn.gif" alt="Image 1">
        </div>
    </div>
    <script src="scripts.js"></script> <!-- Include your JavaScript file here if needed -->
</body>