:host{
    display: block;
    padding-top: 100px;
    width: 90%;
}

button{
    border: 1px solid blue;
    background-color: white;
    margin-right: 20px;
    margin-top: 20px;
    color: blue;
    flex-grow: 1;
    flex-basis: 100px;
    border-radius: 50px;
    padding: 20px 40px;
    &:hover{
        transform: scale(110%);
    }
}