:host{
    display: flex;
    justify-content: center;
    height: 800px;
    margin-top: -100px;
    padding-right: 50px;
    padding-left: 50px;
    background-image: url("../../../assets/images/home/slider-left-dec.png");
    background-repeat: no-repeat;
    // background-position-y: 50px;
    background-position-x: -50px;
    background-size:contain;
}

source{
    display: block !important;
}